.footer {
  text-align: center;
  background-color: rgb(98, 85, 45);
  padding: 60px;
}
.links {
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  font-size: 40px;
}

.links a {
  color: rgb(241, 211, 114)
}

.links:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer p {
  opacity: 0.7;
  color: #8c8989;
  font-size: 16px;
}
